body{
    background:#0F1212;
}

.time{
    background:#192424;
    margin-top:15rem;
    text-align: center;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size:0.5rem;
    border-radius:10px;
}

.time h1{
    font-weight: 100;
    font-size:2rem;
    margin-bottom: 0.5rem;
}
.time1{
    background: #120F12;
    border-radius:10px;
    margin-top:10px;
    padding: 0 3rem;
}

.time1 h3{
    font-size: 3rem;
    font-weight: 100;

}
